.userFeed{
    width: 100%;
    padding: 20px 60px 0 60px;
}

.userFeed__header{
    width: 100%;
    padding: 10px 0;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.userFeed__header__icon .MuiSvgIcon-root{
    color: var(--grey-color);
    margin-right: 20px;
    cursor: pointer;
    font-weight: 600;
}

.userFeed__header__icon > button{
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(248,80,50,1);
    font-size: 15px;
    font-weight: 600;
}

.userFeed__header__button .MuiSvgIcon-root{
    color: white;
    margin-right: 10px;
}

.userFeed__body{
    width: 100%;
    padding-top: 5px;
   
}

.userFeed__body__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userFeed__navigator__link{
    color: var(--grey-color);
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    
}

.userFeed__navigator__link:hover{
    text-decoration: none;
    color: var(--grey-color);
}

.userFeed__body__navigator .nav-link.active,.userFeed__body__navigator .show>.nav-link {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.userFeed__body__bottom{
    height: 82vh;
    overflow-y: scroll;
}

.userFeed__body__bottom::-webkit-scrollbar{
    display: none;
}

.userFeed__body__bottom{
    
}